body{
    background-color: lightblue;
}
img {
width: 150px;
height:118px;
border-radius: 25px;
display: block;
box-shadow: 4px 4px 4px  rgba(177, 5, 5, 0.924);;}
header {
    background-color: black;
    height:115px;
}
.cover{
    width:100%;
    margin-right: -35px;
    margin-top:-15px ;
}
h1 {
    text-align: center;
    margin-top: -80px;
    color: white;
   
}

.seal p{
    color: white;
    text-wrap: wrap;
    font-size: 20pt;
    margin-top: -15px;
}


footer{
    margin-top:320px;
    width: 100%;         
    color: white;
    padding-left:20px;
    height:250px;
    background-color: black;
    margin-right: -150px
}
footer h1, h2,h3,h4,h5,h6{
    color:white
}
footer img{
    width:80px;
    height:100px;
    float:left;
margin-left: -25px;
}

.seal {
    background: url(seal.jpg) no-repeat;
    background-size:100% 100% ;
    width: 100%;
    height: 150px;
    padding: 15px;
    border: 2pt solid black;
}
.seal p{
    text-shadow: 2px 3px 1px black;
}

    